<div class="container">
  <h1>Signup</h1>

  <form action="/signup" method="POST">
    <div class="form-group">
      <p><input type="text" class="form-control" name="username" placeholder="Username:"></p>
      <p><input type="text" class="form-control" name="password" placeholder="Password:"></p>
      <p><input type="text" class="form-control" name="email" placeholder="Email:"></p>
    </div>
    <input class="btn btn-primary" type="submit">
  </form>
  <br></br>

</div>
