<div class="container">
  <h1>Login</h1>

  <form action="/login" method="POST">
    <div class="form-group">
      <p><input type="text" class="form-control" name="username" placeholder="Username:"></p>
      <p><input type="text" class="form-control" name="password" placeholder="Password:"></p>
    </div>

    <input class="btn btn-primary" type="submit" value="Login">
  </form>
  <br></br>

</div>
