<div class="container">
  <h2>Create a new Lineup</h2>

  <form action="/lineups" method="POST">
    <div class="form-group">
      <label>Lineup Name:</label>
      <input type="text" class="form-control" name="name" id="name">
    </div>

    <div class="form-group">
      <label>Quarterback:</label>
      <input type="text" class="form-control" name="quarterback" id="quarterback">
    </div>

    <div class="form-group">
      <label>First Running Back:</label>
      <input type="text" class="form-control" name="runningback_one" id="runningback_one">
    </div>

    <div class="form-group">
      <label>Second Running Back:</label>
      <input type="text" class="form-control" name="runningback_two" id="runningback_two">
    </div>

    <div class="form-group">
      <label>First Wide Receiver:</label>
      <input type="text" class="form-control" name="widereceiver_one" id="widereceiver_one">
    </div>

    <div class="form-group">
      <label>Second Wide Receiver:</label>
      <input type="text" class="form-control" name="widereceiver_two" id="widereceiver_two">
    </div>

    <div class="form-group">
      <label>Third Wide Receiver:</label>
      <input type="text" class="form-control" name="widereceiver_three" id="widereceiver_three">
    </div>

    <div class="form-group">
      <label>Tightend:</label>
      <input type="text" class="form-control" name="tightend" id="tightend">
    </div>

    <div class="form-group">
      <label>Flex:</label>
      <input type="text" class="form-control" name="flex" id="flex">
    </div>

    <div class="form-group">
      <label>Defense:</label>
      <input type="text" class="form-control" name="defense" id="defense">
    </div>

    <input type="submit" value="create">
  </form>
</div>
