<h1>Create a new Lineup</h1>

<form action="/lineups" method="POST">

  <label>Lineup Name:</label>
  <br></br>
  <input type="text" name="name" id="name">
  <br></br>

  <label>Quarterback:</label>
  <br></br>
  <input type="text" name="quarterback" id="quarterback">
  <br></br>

  <label>First Running Back:</label>
  <br></br>
  <input type="text" name="runningback_one" id="runningback_one">
  <br></br>

  <label>Second Running Back:</label>
  <br></br>
  <input type="text" name="runningback_two" id="runningback_two">
  <br></br>

  <label>First Wide Receiver:</label>
  <br></br>
  <input type="text" name="widereceiver_one" id="widereceiver_one">
  <br></br>

  <label>Second Wide Receiver:</label>
  <br></br>
  <input type="text" name="widereceiver_two" id="widereceiver_two">
  <br></br>

  <label>Third Wide Receiver:</label>
  <br></br>
  <input type="text" name="widereceiver_three" id="widereceiver_three">
  <br></br>

  <label>Tightend:</label>
  <br></br>
  <input type="text" name="tightend" id="tightend">
  <br></br>

  <label>Flex:</label>
  <br></br>
  <input type="text" name="flex" id="flex">
  <br></br>

  <label>Defense:</label>
  <br></br>
  <input type="text" name="defense" id="defense">
  <br></br>

  <input type="submit" value="submit">
</form>
